#skills{
    overflow: hidden;
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.skillTitle{
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
}


.skillDesc{
    font-weight: 400;
    font-size: 1rem;
    max-width: 51rem;
    padding: 0 2rem;
}

.skillBars{
    margin: 1.5rem;
    width: 100vw;
    max-width: 80%;
    text-align: left;
}


.skillBar{
    display: flex;
    margin: 1rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    background-color: rgb(50,50,50);
}


.skillBarImg{
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin-right: 2rem;
}

.web:hover{
    color: palegreen;
}

.skillBarText>a{
    font-size: 0.9rem;
    font-weight: 200;
    color: white;
}

@media screen and (max-width:720px) {
    .skillBarText>p{
        font-size: 2vw;
    }
    .skill{
        width: 4rem;
    }
}

@media screen and (max-width:480px) {
    .skillBarText>p{
        font-size: 3vw;
    }
    .skillBarImg{
        height: 2.25rem;
        width: 2.25rem;

    }
    .skillBarText>h2{
        font-size: 5vw;
    }
}

.skill{
    background-color: #ddd;
    height: 3rem;
    margin: 3rem;
    width:60rem;
    display: none;
}
#hide{
    height: 3rem;
    margin: 3rem;
    width:60rem;
    display: none;
}
.py,.c,.cpp,.java,.js,.html,.css,.bs,.sql,.react,.node,.exp,.md,.hide{
    height: 3rem;
    text-align: center;
}
.py{
    background-color: red;
    width: 90%;
}
.c{
    background-color: blue;
    width: 95%;
}
.cpp{
    background-color:green;
    width: 85%;
}
.java{
    background-color:brown;
    width: 65%;
}
.js{
    background-color:darkmagenta;
    width: 58%;
}
.html{
    background-color:blueviolet;
    width: 85%;
}
.sql{
    background-color:pink;
    width: 50%;
}
.css{
    background-color:darkorange;
    width: 75%;
}
.bs{
    background-color:darkolivegreen;
    width: 75%;
}
.react{
    background-color:darkred;
    width: 65%;
}
.node{
    background-color:maroon;
    width: 50%;
}
.exp{
    background-color:orchid;
    width:50%;
}
.md{
    background-color:royalblue;
    width: 55%;
}
.sicon{
    height: 5rem;
    width: 5rem;
    margin: 1rem 4rem;
    cursor: pointer;
}

@media screen and (max-width:720px) {
    .skill{
        width: 20rem;
    }
}
